div {
    background-color: #3E4041;
    padding: 1% 0% 1% 1%;
    width: 30%;
    margin-left: 35%;
    box-shadow: 5px 5px 5px #4E4D51;
    text-align: center;
    border-radius: 25px;
}

a {
    background-color: #BFC1C2;
    text-decoration: none;
    color: black;
    display: block;
    padding: .5%;
    width: 5%;
}