#jobs {
    overflow-y: scroll;
    width: 20%;
    float:left;
}

#post {
    padding: 2%;
    background-color: #586784;
}

#formdiv {
    padding-left:30%;
    width:40%;
}

form {
    padding-left:2%;
}

#id_div {
    display: none;
}
