<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Admin Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/base.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/login.css'%}"/>
</head>
<body>
<div id="login">
    <h2>Admin Login</h2>
    <div id="loginform">
        <form method="POST">{% csrf_token %}
            <div id="formfields">
                {{form.as_p}}
            </div>
            <button type="submit" class="save btn btn-default">Submit</button>
        </form>
    </div>
    <br/>
    <a href="register">Sign Up</a>
</div>
</body>
</html>