<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/base.css'%}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/jobpost.css'%}"/>
    </head>
    <body>
    <div id="form">
        <h3>Job Post</h3>
        <form method="POST" class="post-form">{% csrf_token %}
            {% for field in form %}
            <div>
                {{field.label_tag }}
            </div>
             <div>{{field}}</div>

            {% endfor %}
            <br />
            <button type="submit" class="save btn btn-default">Submit</button>
          </form>
          <a href="home">Return to Profile</a>
    </div>
    </body>
</html>