<!DOCTYPE html>
<html>
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/base.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/jobsearch.css'%}"/>
    <script src="{% static 'JS/jobsearch_apply.js'%}"></script>
</head>
    <body>
        Job Search
        <br />
        <a href="home">Return to Profile</a>
        <br />
        <div id="jobs">
            {% for job in jobs %}
            <div id="post" onclick="goto_or_apply('{{job.0}}')">
                Position: {{job.1}}
                <br/>
                Location: {{job.2}}
                <br />
                Company: {{job.4}}  Pay Rate: {{job.5}}
                <br />
                Apply Date: {{job.7}}
                <br />
                Description: {{job.9}}
            </div>
            <br />
            {% endfor %}
        </div>
        <div id="formdiv">
            <form method="POST" class="post-form" style="padding-left:2%">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Submit</button>
            </form>
        </div>

        <div id="id_div">
            <form method="POST" id="applyform">{% csrf_token %}
                {{idform.as_p}}
            </form>
        </div>
    </body>
</html>