<!DOCTYPE html>
<html>
    <body>
        Job Search
        <br />
        <a href="home">Return to Profile</a>
        <br />
        <div id="jobs" style="overflow-y: scroll; width: 20%;float:left">
            {% for job in jobs %}
            <div id="post" style="margin: 2%">
                Position: {{job.1}}
                <br/>
                Location: {{job.2}}
                <br />
                Company: {{job.4}}  Pay Rate: {{job.5}}
                <br />
                Apply Date: {{job.7}}
                <br />
                Description: {{job.9}}
            </div>
            <br />
            {% endfor %}
        </div>
        <div style="padding-left:30%;width:40%">
            <form method="POST" class="post-form" style="padding-left:2%">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Submit</button>
            </form>
        </div>
    </body>
</html>