<!DOCTYPE html>
<html>
{% load static %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/base.css'%}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/profile.css'%}"/>
    </head>
    <body>
        <p>{{user.2}} {{user.3}}'s Profile</p>
        <div>
            <a href="jobpost">Post a job (Recruiters only)</a>
        </div>
        <br />
        <div><a href="jobsearch">Search for job</a></div><br />
        {% if employee is not None %}
        <div><a href="messages">View Messages</a></div>
        {% endif %}
    </body>
</html>