<!DOCTYPE html>
<html>
{% load static %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/base.css'%}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/profile.css'%}"/>
    </head>
    <body>
        <div id="columnA" class="column">
            <p>{{user.2}} {{user.3}}'s Profile</p>
            {% if recruiter is not None %}
            <a href="jobpost">Post a job (Recruiters only)</a>
            <br />
            {% endif %}
            <a href="jobsearch">Search for job</a><br />
            {% if employee is not None %}
            <a href="messages">View Messages</a>
            {% endif %}
            <br />
            {% if recruiter is not None %}
            <a href="view_posts">View Your Job Posts</a><br />
            {% endif %}
            <a href="login" id="logout">Logout</a>
            <h2>Upload resume</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="resume" accept="application/pdf">
                <button type="submit">Upload file</button>
            </form>
        </div>
        <div id="columnB" class="column">
            <div id="applications">
                <h3>Applications</h3>
                <table>
                    <tr class="header"><td><b>Position</b></td><td><b>Company</b></td><td><b>Status</b></td></tr>
                    {% for app in apps %}
                    <tr><td>{{app.1}}</td><td>{{app.2}}</td><td>{{app.0}}</td></tr>
                    {% endfor %}
                </table>
            </div>

        </div>
        <div id="skills" class="column">
            {%for skill in skills %}
            <div id="skill">{{skill.0}}</div>
            {%endfor%}
            <br/>
            <br />
            <form method="post" id="skillform">
                {%csrf_token%}
                {{skillform}}
                <button type="submit" id="plus">+</button>
            </form>
        </div>
    </body>
</html>