<!DOCTYPE html>
<html>
{% load static %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/base.css'%}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/profile.css'%}"/>
    </head>
    <body>
        <p>{{user.2}} {{user.3}}'s Profile</p>
        <a href="jobpost">Post a job (Recruiters only)</a>
        <br />
        <a href="jobsearch">Search for job</a><br />
        {% if employee is not None %}
        <a href="messages">View Messages</a>
        {% endif %}
        <br />
        <a href="login" id="logout">Logout</a>
    </body>
</html>