<!DOCTYPE html>
{% load static %}
<html>
  <head>
      <link rel="stylesheet" type="text/css" href="{% static 'CSS/base.css'%}"/>
      <link rel="stylesheet" type="text/css" href="{% static 'CSS/register.css'%}"/>
  </head>
  <body>
    <h2>Register</h2>
    <form method="POST" class="post-form">{% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="save btn btn-default">Submit</button>
    </form>
    {% if errors is not None %}
      {% include 'error.html' %}
    {% endif %}
    <a href="login">Already Signed Up? Login Here</a>
    </body>
  </html>
